body {
    box-sizing: border-box;
    
}
.poke-icon {
    height: 1cm;
    width: 1cm;
    max-width: 100%;
}

.navbar-collapse {
    padding-left: 40%;
    overflow: auto;
}


.poke-logo {
    /* height: 2cm;         
    width: 20cm;
    max-width: 100%;    */
    max-width: 250px;
    height:auto; 
    padding:10px;
}

#search-row {
    background-color: blue;
    padding-left: 10%;
    padding-right: 10%;
}

/* #container {
    background-color: red; */
/* } 

